body {
  color: #434455;
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.logo {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}

.logo span {
  color: #2e2f42;
}

.logo:hover {
  color: #4d5ae5;
  cursor: pointer;
}

header {
  background: #fff;
}

.link-nav {
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.contacts {
  font-style: normal;
}

.contacts .link-contacts {
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.contacts .link-contacts:hover {
  color: #404bbf;
}

.contacts .link-contacts:focus {
  color: #404bbf;
}

.hero {
  background-color: #2e2f42;
}

.hero .page-title {
  color: #fff;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  margin-top: 188px;
  margin-bottom: 48px;
}

.hero .button {
  color: #fff;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  margin-bottom: 188px;
  padding: 16px 32px;
}

.hero .button:hover {
  background-color: #404bbf;
}

.hero .button:focus {
  background-color: #404bbf;
}

.site-nav .link-nav {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav .link-nav:hover {
  color: #404bbf;
}

.site-nav .link-nav:focus {
  color: #404bbf;
}

.title {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.text {
  color: #434455;
}

.advantages-list {
  margin-top: 120px;
  margin-bottom: 120px;
}

.team {
  background-color: #f4f4fd;
}

.team-card {
  background-color: #fff;
}

.team-list {
  margin-bottom: 120px;
}

.team .section-title {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  margin-top: 120px;
}

.portfolio .section-title {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  margin-top: 120px;
}

.portfolio-list {
  margin-bottom: 120px;
}

.footer {
  background-color: #2e2f42;
}
.footer .text-footer {
  color: #f4f4fd;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.footer .logo {
  color: #4d5ae5;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  margin-top: 100px;
  margin-bottom: 16px;
}

.footer .footer-logo {
  color: #f4f4fd;
}

.text-footer {
  letter-spacing: 0.02em;
  margin-bottom: 100px;
}
